
@media (min-width: 768px)
{
.col-md-3 {
    padding: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 31%;
    max-width: 50%;
}
}

.card-1{
  margin:16px;
}

.card-2{
  margin:16px 16px 16px 0;
}

.card-3{
  margin: 16px 0;
}

.card-4{
  margin:0 16px 16px 16px;
}

.card-5{
  margin:0 16px 16px 0;
}

.card-6{
  margin:0 16px 16px 0;
}
