<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 card-1">
        <app-employeestatus></app-employeestatus>
    </div>
    <div class="col-md-3 card-2">
        <app-employeestatus></app-employeestatus>
    </div>
    <div class="col-md-3 card-3">
        <app-employeestatus></app-employeestatus>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3 card-4">
          <app-employeestatus></app-employeestatus>
      </div>
      <div class="col-md-3 card-5">
          <app-employeestatus></app-employeestatus>
      </div>
      <div class="col-md-3 card-6">
          <app-employeestatus></app-employeestatus>
      </div>
  </div>
</div>
