<h4>Requestor Info</h4>

<form (ngSubmit)="onSubmit()"  [formGroup]="form" >

  <label for="name">Name</label>
  <input  class="form-control"  type="text" formControlName="name">
  <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          Email is required.
      </div> -->
  <label for="phone">Phone</label>
  <input  class="form-control"  type="number" formControlName="phone">
    <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            Password is required.
        </div> -->
  <label for="email">Email</label>
  <input class="form-control"  type="text" formControlName="email">
  <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              Password is required.
          </div> -->
  <label for="notes">Notes</label>
  <textarea  class="form-control notes" type="text" placeholder="Notes" formControlName="notes"> </textarea>

  <h4>Task Info</h4>

  <select class="form-control" formControlName="area">
    <option *ngFor="let area of areas"   value={{area.functionalArea}} >{{area.title}}</option>
  </select>

  <select class="form-control" formControlName="taskClass" (change)="changeTaskClass($event)" >
      <option *ngFor="let taskClass of taskClassList" value={{taskClass.classID}} >{{taskClass.classBrief}}</option>

  </select>

  <div formArrayName="taskClassOptions">
   <div  *ngFor="let item of form.get('taskClassOptions').controls;let i=index">
  <label for="{i}}">{{taskClassOptionsList[i].Header}}</label>
  <input *ngIf="taskClassOptionsList[i].ControlType=='Text'" type="text" formControlName="{{i}}" maxlength="{{taskClassOptionsList[i].textLength}}">

  <!-- <div *ngIf="taskClass.required && form.get(taskClass.ControlName).invalid"></div>
  <div *ngIf="form.get(taskClass.ControlName).errors.required">
      is required.
   </div> -->
  </div>
</div>


  <div class="form-action">
    <button class="btn cancel-button" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary show-right">Submit</button>
  </div>
</form>
