form {
  width:20vw;
}

.alert{
  padding : 0 10px;
}

.form-action {
  padding: 4px 13px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0px;
}

.form-control {
  line-height: 0;
  font-size: 14px;
}

.notes {
  line-height: 50px;
  padding: 0 5px;
}

label {
  margin-bottom: 0;
}

.cancel-button {
  margin:0;
  padding: 3px 9px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  color: #12456e;
  background-color: white;
}


.btn-primary{
  margin:0;
  padding: 3px 9px;
  border-radius: 7px;
  color: white;
  background-color: #12456e;
}
