<ng-sidebar-container style="height:91vh">

    <ng-sidebar class="side-bar" [mode]="mode" position="right" [(opened)]="showSideBar">
        <app-newtask (toggleSideBarEvent)="toggleSideBar()"></app-newtask>
    </ng-sidebar>

    <ng-sidebar class="action-bar" [mode]="'over'" position="bottom" [autoFocus]="false" [(opened)]="showActionBar" >
      <app-actionbar (setActionBarEvent)="setActionBar($event)"></app-actionbar>
    </ng-sidebar>


  <div ng-sidebar-content>
  <div class="container-fluid employee-status-container">
    <app-employees [employees]="filteredEmployees" [filteredColumnConfig]="filteredEmployeeColumnConfig" (changeStatusEvent)="changeEmployeeStatus($event)"></app-employees>
  </div>
  <app-tasks [tasks]="filteredTasks" [columnConfig]="columnConfig" (toggleSideBarEvent)="toggleSideBar()" (changeStatusEvent)="changeTaskStatus($event)"></app-tasks>
  </div>
</ng-sidebar-container>
