

.card-1{
  margin:16px 0px;
  padding: 0 8px;
}

.card-2{
  margin:16px 0;
  padding: 0 8px;
}

.card-3{
  margin: 16px 0;
  padding: 0 8px;
}

.card-4{
  margin:0 0 16px 0;
  padding: 0 8px;
}

.card-5{
  margin:0 0 16px 0;
  padding: 0 8px;
}

.card-6{
  margin:0 0 16px 0;
  padding: 0 8px;
}
