<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="#">
    <img src="assets/CompassOne.jpg" alt="Logo" style="width:100px;">
  </a>

  <ul class="navbar-nav" style="width:100%;justify-content:space-between;">
    <li class="nav-item">
      <select (change)="changeFacility($event)" class="form-control">
        <option *ngFor="let facility of facilities"  value={{facility.hirNode}} >{{facility.title}}</option>
      </select>
    </li>

     <li class="nav-item">
      <ul class="pagination">
        <li class="page-item " *ngFor="let area of areas">
          <a class="page-link" [ngClass]="{'active-link' : currentArea == area.functionalArea}"  (click)="changeArea(area.functionalArea)">{{area.title}}</a>
        </li>
      </ul>
    </li>

    <li class="nav-item" style="display:flex">
      <a class="nav-link " >PlayBooks</a>
      <a class="nav-link " (click)="showUnsignedEmployees()">Sign Employees In</a>
      <a class="nav-link " >Help</a>
    </li>
  </ul>
</nav>

