

a{
  color:#12456e;
}

.active-link{
  color: #fff  !important;
  background-color: #12456e;
  border-color: #12456e;
}

.page-link{
  border:1px solid #12456e
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

nav {
  height : 9vh;
  border-bottom: 1px solid #dcdcdc;
}
