.ngx-datatable.material
{
 height: 125px;
}


.show-right{
  float:right;
}


.card-title,.div-inline{
  display: inline;
}

.card-dotted{
  border:1px dashed rgba(0,0,0,.125);
}

.card-body{
  padding:0;
}

.card{
  padding: 10px;
  max-height: 200px
}

.show-handle-right{
  float: right;
  padding:0 10px;
}

.list-group-item{
  padding:0;
  margin-bottom: -8px;
  border: none;
}


ul{
  margin-bottom: -8px;
}

hr{
  margin-bottom: 0.7rem;
}

a{
  color:#12456e;
  text-decoration: underline;
}

.btn-primary{
  padding: 0 9px;
  margin-left: 10px;
  border-radius: 7px;
  color: white;
  background-color: #12456e;
}

.btn-primary:hover{
  background-color: #12456e;
}
