.ngx-datatable.material
{
  height:125px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.ngx-datatable.material .datatable-header
{
  border-bottom:2px solid lightgrey;
}


.ngx-datatable.material .datatable-header .datatable-header-cell
{
  color:black;
  font-weight: bold;
  padding: 0 5px 5px 5px;
}


.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell
{
  padding: 5px;
}

.datatable-checkbox{
  padding: 0 0 10px 0;
}

.ngx-datatable .datatable-body .datatable-body-row {
  border-bottom: 1px solid lightgrey
}

.show-right{
  float:right;
}


.card-title,.div-inline{
  display: inline;
}

.card-dotted{
  border:1px dashed rgba(0,0,0,.125);
}

.card-body{
  padding:0;
}

.card{
  padding: 10px;
  max-height: 200px
}

.show-handle-right{
  float: right;
  padding:0 10px;
}

.list-group-item{
  padding:0;
  margin-bottom: -8px;
  border: none;
}

.exceeded{
  background-color: #ffe7e6
}

.exceeded .datatable-body-cell-label {
  font-weight: bold;
}


.approaching{
  background-color: #fffcd6
}

.approaching .datatable-body-cell-label {
  font-weight: bold;
}

.st span{
  color: #af2b44;
  border: 1px solid #ea746c;
  border-radius: 9px;
  padding: 0px 5px;
  background-color: #ffe7e6;
}

.sc span {
  color: #6d9b36;
  border: 1px solid #6d9b36;
  border-radius: 9px;
  padding: 0px 5px;
  background-color: #e3ffd6;
}

.task-column .datatable-header-cell-label{
  color:white
}

ul{
  margin-bottom: -8px;
}

hr{
  margin-bottom: 0.7rem;
}

a{
  color:#12456e;
  text-decoration: underline;
}

.btn-primary{
  padding: 0 9px;
  margin-left: 10px;
  border-radius: 7px;
  color: white;
  background-color: #12456e;
}

.btn-primary:hover{
  background-color: #12456e;
}
