.ngx-datatable.material
{
 height: 125px;
}


.show-right{
  float:right;
}

.card{
  padding: 10px;
  height: 170px
}

.card-title,.div-inline{
  display: inline;
  touch-action: none;
}

.card-dotted{
  border:1px dashed rgba(0,0,0,.125);
}

.card-body{
  padding:0;
}



.show-handle-right{
  float: right;
  color: gray;
  margin:0 20px;
}

.list-group-item{
  padding:0;
  margin-bottom: -8px;
  border: none;
}


ul{
  margin-bottom: -8px;
}

hr{
  margin-bottom: 0.7rem;
}

a{
  color:#12456e;
  text-decoration: underline;
}

.btn-primary{
  padding: 0 9px;
  margin-left: 10px;
  border-radius: 7px;
  color: white;
  background-color: #12456e;
}

.btn-primary:hover{
  background-color: #12456e;
}

.empty-image{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
