
  <div class="context-menu" *ngIf="contextMenu" [ngStyle]="{'left.px': x, 'top.px': y}" (mouseleave)="contextMenu = false">
    <p>{{contextMenuRow.Brief}}</p>
    <hr>
    <p>View</p>
    <p>Message</p>
    <hr>
    <p *ngIf="title=='Available'" (click)="changeStatus(5)">Break</p>
    <p *ngIf="title=='Available'" (click)="changeStatus(6)">Lunch</p>
    <p *ngIf="title=='Available'" (click)="changeStatus(7)">Not In</p>
    <p *ngIf="title=='Assigned' || title=='Active' " (click)="changeStatus(3)">Delay</p>
    <p *ngIf="title=='Assigned' || title=='Delayed'" (click)="changeStatus(4)">Start</p>
    <p *ngIf="title=='Active'" (click)="changeStatus(1)">Completed</p>
    <p *ngIf="title=='On Break' || title=='At Lunch'" (click)="changeStatus(1)">Available</p>
  </div>

<div  class="card" [ngClass]="{'card-dotted':showEdit}">
    <div class="card-body">
      <h6 class="card-title">{{title}}</h6>
      <div *ngIf="rows.length==0">
        <img class="empty-image" src="assets/{{title.toLowerCase()}}.png"/>
      </div>

      <div class="div-inline" *ngIf="!showEdit && rows.length!=0">
        <a class="show-right" (click)="showEdit=true">Edit</a>
        <ngx-datatable appNgxResizeWatcher  class="material" [rows]="rows" [rowClass]="getRowClass" [columnMode]="'force'" [sortType]="'single'"
          [headerHeight]="20" [footerHeight]="0" [reorderable]="true"  (select)="onSelect($event)" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
          [scrollbarV]="true"  (tableContextmenu)="onTableContextMenu($event)">
          <ngx-datatable-column  [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column headerClass="task-column" [width]="40" name="" prop="Badge" [cellClass]="getCellClass" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          </ngx-datatable-column>
          <ng-container  *ngFor="let col of columns"  >
          <ngx-datatable-column [draggable]="false" *ngIf="col.show" [name]="col.name" [prop]="col.prop" ></ngx-datatable-column>
          </ng-container>
        </ngx-datatable>
      </div>

      <div class="div-inline" *ngIf="showEdit && rows.length!=0">
        <button class="btn btn-primary show-right" (click)="saveEdit()">Apply</button>
        <a class="show-right cancel-link"  (click)="cancelEdit()">Cancel</a>
        <hr>
        <ul  dnd-sortable-container [sortableData]="columns">
          <li *ngFor="let col of columns; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
            <div>
            <input id="col" type="checkbox" (change)='col.show=!col.show' [checked]='col.show'/>
            <label [attr.for]="col">{{col.name}}</label>
            <span dnd-sortable-handle class="show-handle-right"><i class="fa fa-bars"></i></span>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


