.ngx-datatable.material
{
  height:25vh;
}
.active{
  background-color: #f2f2f2;
  font-weight: bold;
}

.col-md-1{
  padding:0 0 0 15px;
}

h5{
  margin-top:5px;
}

.btn-primary{
  margin:0;
  padding: 3px 9px;
  border-radius: 7px;
  color: white;
  background-color: #12456e;
}
ul{
  margin:0px;
}

li{
  font-size: 15px;
}

a{
  display: block;
  padding: 0 10px 0 0;
  cursor: pointer;
}


.search-bar{
  background-image:url('../../../../assets/search.png');
  background-repeat: no-repeat;
  background-position: 3px 6px;
  background-size: 15px;
  text-indent: 25px;
  padding: 2px;
  margin: 10px auto;
  border: 1px solid #f2f2f2;
  width: 20%;
  box-shadow: 0 3px 7px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
}

.clear-link{
  display:inline;
  color: #12456e;
  text-decoration: underline;
}

.show-handle-right{
  float: right;
  margin: 0 100px;
  color : gray;
}

hr{
  margin:5px;
}

.list-group-item{
  padding:0;
  margin-bottom: -2px;
  border: none;
}

.cancel-link{
  display: inline;
}

.option-box{
  margin: 10px 0 0 10px;
}

a:not([href]):not([tabindex]) {
  color: #12456e;
  cursor: pointer;
  text-decoration: underline;
}

.tab-switcher {
  list-style:none;
  padding:5px;
}

.tab-switcher a {
  color : black;
  text-decoration: none;
}
