.ngx-datatable.material
{
  height:150px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.active{
  background-color: #f2f2f2;
  font-weight: bold;
}

.col-md-1{
  padding:0 0 0 15px;
}

h5{
  margin-top:5px;
}

.btn-primary{
  margin:0;
  padding: 3px 9px;
  border-radius: 7px;
  color: white;
  background-color: #12456e;
}

li{
  font-size: 15px;
}

a{
  display: block;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.search-bar{
  background-image:url('../../../assets/search.png');
  background-repeat: no-repeat;
  background-position: 3px 6px;
  background-size: 15px;
  text-indent: 25px;
  padding: 2px;
  margin: 10px auto;
  border: 1px solid #f2f2f2;
  width: 20%;
}

.exceeded{
  background-color: #ffe7e6
}

.exceeded .datatable-body-cell-label {
  font-weight: bold;
}


.approaching{
  background-color: #fffcd6
}

.approaching .datatable-body-cell-label {
  font-weight: bold;
}

.st span{
  color: #af2b44;
  border: 1px solid #ea746c;
  border-radius: 9px;
  padding: 0px 5px;
  background-color: #ffe7e6;
}

.sc span {
  color: #6d9b36;
  border: 1px solid #6d9b36;
  border-radius: 9px;
  padding: 0px 5px;
  background-color: #e3ffd6;
}

.clear-link{
  display:inline;
  color: #12456e;
  text-decoration: underline;
}

