/* You can add global styles to this file, and also import other style files */
/* html {
  font-size:12px !important;
}

li[_ngcontent-c8] {
  font-size:12px !important;
} */

.ngx-datatable.material
{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.ngx-datatable.material .datatable-header
{
  border-bottom:2px solid lightgrey;
}

.datatable-scroll { width: 100% !important; }

.ngx-datatable.material .datatable-header .datatable-header-cell
{
  color:black !important;
  font-weight: bold !important;
  padding: 0 5px 5px 5px !important;
  /* font-size:12px !important; */
}



.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell
{
  /* font-size:12px !important; */
  padding: 5px !important;
}

.datatable-checkbox{
  padding: 0 0 10px 0 !important;
}

.ngx-datatable .datatable-body .datatable-body-row {
  border-bottom: 1px solid lightgrey
}

.st span{
  color: #af2b44;
  border: 1px solid #ea746c;
  border-radius: 9px;
  padding: 0px 5px;
  background-color: #ffe7e6;
}

.sc span {
  color: #6d9b36;
  border: 1px solid #6d9b36;
  border-radius: 9px;
  padding: 0px 5px;
  background-color: #e3ffd6;
}

.exceeded{
  background-color: #ffe7e6
}

.exceeded .datatable-body-cell-label {
  font-weight: bold;
}


.approaching{
  background-color: #fffcd6
}

.approaching .datatable-body-cell-label {
  font-weight: bold;
}

.task-column .datatable-header-cell-label{
  color:white
}

.sortable .sort-btn:not([class*="datatable-icon-"]):before {
  font-family: data-table;
   content: "c";
   color : gray;
   }


   .context-menu {
    font-size: 14px;
    background-color: white;
    width : 150px;
    height: auto;
    padding: 10px;
    z-index: 1;
    position: fixed;
    border: 1px solid #f2f2f2;
    box-shadow: 0 3px 7px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
  }

  .context-menu hr {
    margin : 5px 0 0 0;
  }

  .context-menu p:first-of-type {
    margin : 0;
    font-weight: bold;
    cursor: auto;
  }

  .context-menu p {
    margin : 0;
    cursor: pointer;
  }

  .side-bar .ng-sidebar{
    background-color: white;
    padding: 10px;
    box-shadow: -1px 0px 3px rgba(0,0,0,0.19), 0 0px 2px rgba(0,0,0,0.23);
  }


  .action-bar .ng-sidebar{
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.19), 0 0px 2px rgba(0,0,0,0.23);
  }

  .show-right{
    float:right;
  }








